@using jjs.Models;
@model jjs.Models.LayoutViewModel
@{
    ViewBag.Title = @ViewBag.Title;
    Layout = "~/Views/Show/Index.cshtml";
}
@if (Model.designers != null && Model.designers.Count() > 0)
{
    foreach (var item in Model.designers)
    {
        string hrefstr = "/Show/DesignerCase?id=" + item.Id;

        <div class="sjslb">
            <a href=@hrefstr>
                <table width="215" height="360" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="275" colspan="2" align="center" valign="middle">
                                <img src=@item.DPhoto width="215" height="275" border="0">
                            </td>
                        </tr>
                        <tr>
                            <td width="145" height="30" align="left" valign="middle">
                                &nbsp;设计师：
                                @item.DName

                            </td>
                            <td width="70" height="30" align="center" valign="middle"></td>
                        </tr>
                        <tr>
                            <td height="55" colspan="2" align="left" valign="top">
                                <div style="line-height:22px; text-align:left; margin-left:7px; color:#666666;">
                                    毕业院校：@item.DUniversity<br>所属部门：@item.DDepartment
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </div>
    }

}