<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <ul>
        <li><a href="/menus" target="view_frame">首页菜单管理</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">首页滚动图</a></li>
        <li><a href="/ArticleContents?type=2" target="view_frame">热门套餐</a></li>
        <li><a href="/ArticleContents?type=3" target="view_frame">经典案例</a></li>
        <li><a href="/Designers/" target="view_frame">设计团队</a></li>
        <li><a href="/ArticleContents?type=4" target="view_frame">团装小区</a></li>
        <li><a href="/ArticleContents?type=5" target="view_frame">家居设计</a></li>
        <li><a href="/ArticleContents?type=6" target="view_frame">环保装修</a></li>
        <li><a href="/Messages" target="view_frame">用户留言</a></li>
        <li><a href="/ArticleContents?type=666" target="view_frame">其他</a></li>
        <!--<li><a href="/ArticleContents?type=1" target="view_frame">人才招聘</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">隐私声明</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">联系我们</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">客户服务</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">免费量房?</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">免费预约?</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">在线咨询?</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">在线预算?</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">服务流程?</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">服务理念?</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">装修流程?</a></li>
        <li><a href="/ArticleContents?type=1" target="view_frame">设计理念?</a></li>-->
    </ul>
</body>
</html>