
@{
    ViewBag.Title = "EmptIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <iframe cols="200,*">
        <frame src="../view/left.html">
        <frame src="../view/welcome.html" name="view_frame">
    </iframe>

</div>